* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*-- Global Selectors --*/
a{
    color:#47649F;
}

body{
    font-family:'helvetica';
}



/*-- Bootstrap Override Style --*/
.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;
}

.anchor-username h4{
    font-weight:bold;
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}

.wrapper {
  font-family: 'Roboto';
  background-color: #FAFAFA;
  font-size: 18px;
  display: grid;
  width: 100vw;
  height: 100vh;
}
.wrapper > * {
    border: 2px solid #f08c00;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: #FFFFFF;
  color: #4285f4;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
  margin-top: 75px;
}
.side {
  grid-area: sidebar;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar";
}


@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
   }
   nav ul {
     flex-direction: column;
   }
}



/* name stylings ------------------------------- */
.name {
  text-align: left;
  font-family: 'Roboto Slab';
  margin: 0 5%;
  display: flex;
  flex-direction: row;
}
.marcato {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fino {
  font-size: 32px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* General Styles */
/*ul#growing-search-freebie { display: table; list-style: none; margin: 0; float: right;}
ul#growing-search-freebie > li { margin-right: 20px; padding: 10px 10px; }
ul#growing-search-freebie > li > span { margin-bottom: 10px; }


ul#growing-search-freebie {
  display: flex;
  justify-content: space-between;
}*/
.middle-nav {
  display: flex;
  flex-direction: row;
}

.growing-search {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  background-color: #BDBDBD;
	padding: 5px 5px 5px 7px;
	border-radius: 5px;
  border-color: #BDBDBD;
	background: #EEEEEE;
}

.growing-search div {
	display: inline-block;
	font-size: 16px;
}

.fa-search {
  background-color: #EEEEEE;
}
.growing-search .input {
  width: 30vw;
}
.growing-search .input input {
  width: 27vw;
  background-color: #EEEEEE;
	margin-right: 0;
	border: none;
	font-size: inherit;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #aaa;
	border-bottom: 1px solid #eee;
}

#search {
  background: #EEEEEE;
}

.growing-search .submit button {
  margin: 0 10px;
	margin-left: 0;
	border: none;
	font-size: 1.15em;
	color: #aaa;
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: color 200ms;
}

.growing-search .input input:hover, .growing-search .submit button:hover {
	cursor: pointer;
}

.growing-search .input input:focus, .growing-search .submit button:focus {
	outline: none;
}

.growing-search .submit button:hover {
	color: #3498db;
}


/** Immagine avatar degli utentu **/
#avatar {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 9%;
}
#avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


#main_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px;
  z-index: 2;
  margin-bottom: 14px;

  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -65px; /* Half the width */
  /*margin: auto;
  right: 50px;*/
}

#notifiche {
  display: flex;
  align-items: center;
  justify-content: center;
}
#notifiche i {
  margin-right: 14px;
}

#name-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

/* side section ---------------------- */

@media (min-width: 900px) {
  .side-sec {
    width: 300px;
    margin: auto;
  }
}

.side-sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 3%;
  padding-top: 90px;
}

#side-name {
  font-size: 25px;
  font-weight: 15px;
  font-family: 'Open Sans';
}

.nav-links {
  margin-top: 20px;
  margin-bottom: 30px;
}


.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
}
.btn.color-1 {
  background-color: #4285f4;
}
.btn-border.color-1 {
  background-color: transparent;
  border: 2px solid #4285f4;
  color: #4285f4;
}
.btn-round {
  border-radius: 10em;
}
.material-design {
  position: relative;
}
.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}
