* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-- Global Selectors --*/
/*a {
    color: #47649F;
}

body {
    font-family: 'helvetica';
}

.form-rounded {
    border-radius: 1rem;
}

.pre-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}
*/
/*-- Bootstrap Override Style --*/
.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255, 0, 0, .85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}



.comment_options {
    display: flex;
    flex-direction: row;
}
.comment_options a{
    margin-right: 5px;
}

/*-- Content Style --*/
.post-footer-option {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    color: #4285f4;;
}

.post-footer-option ul {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
}
.post-footer-option li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    margin-right: 35px;
}

.post-footer-option li a {
    color: #AFB4BD;
    font-weight: 500;
    font-size: 1.3rem;
}

.photo-profile {
    border: 1px solid #DDD;
}

.anchor-username h4 {
    font-weight: bold;
}

.anchor-time {
    color: #ADB2BB;
    font-size: 1.2rem;
}

.post-footer-comment-wrapper {
    /*background-color: #F6F7F8;*/
}

.post-body{
    margin: 10px 10px;
}

.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
  font-family: 'Roboto';
  background-color: #FAFAFA;
  font-size: 18px;
  display: grid;
    height: 100vh;
}

/*.wrapper > * {
    border: 2px solid #f08c00;
}*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #FFFFFF;
    color: #4285f4;
    border-bottom: 2px solid #EEEEEE;
}

.content {
    background-color: #FFFFFF;
    grid-area: content;
    border: 2px solid #EEEEEE;
}

.main-nav {
    grid-area: nav;
    margin-top: 75px;
}

.main-nav button{
    font-size: 13px;
}
.side {
    background-color: #FFFFFF;
    grid-area: side;
    border: 2px solid #EEEEEE;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header" "nav" "content" "side";
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header  header"
                "nav     nav"
                "side content";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 11fr;
        grid-template-areas:
                "header header header"
                "nav  content side"
    }

    nav ul {
        flex-direction: column;
    }
}

/* name stylings ------------------------------- */
.name {
    text-align: left;
    font-family: 'Roboto Slab';
    margin: 0 5%;
    display: flex;
    flex-direction: row;
}

.marcato {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fino {
    font-size: 32px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}


.middle-nav {
    display: flex;
    flex-direction: row;
}

.growing-search {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    background-color: #BDBDBD;
    padding: 5px 5px 5px 7px;
    border-radius: 5px;
    border-color: #BDBDBD;
    background: #EEEEEE;
}

.growing-search div {
    display: inline-block;
    font-size: 16px;
}

.fa-search {
    background-color: #EEEEEE;
}

.growing-search .input {
    width: 30vw;
}

.growing-search .input input {
    width: 27vw;
    background-color: #EEEEEE;
    margin-right: 0;
    border: none;
    font-size: inherit;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #aaa;
    border-bottom: 1px solid #eee;
}

#search {
    background: #EEEEEE;
}

.growing-search .submit button {
    margin: 0 10px;
    margin-left: 0;
    border: none;
    font-size: 1.15em;
    color: #aaa;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: color 200ms;
}

.growing-search .input input:hover, .growing-search .submit button:hover {
    cursor: pointer;
}

.growing-search .input input:focus, .growing-search .submit button:focus {
    outline: none;
}

.growing-search .submit button:hover {
    color: #3498db;
}

/** Immagine avatar degli utentu **/
#avatar {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 9%;
}

#avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#main_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px;
    z-index: 2;
    margin-bottom: 14px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -65px; /* Half the width */
    /*margin: auto;
    right: 50px;*/
}

#notifiche {
    display: flex;
    align-items: center;
    justify-content: center;
}

#notifiche i {
    margin-right: 14px;
}

#name-nav {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

/* side section ---------------------- */

@media (min-width: 900px) {
    .side-sec {
        width: 300px;
        margin: auto;
    }
    .side {
        width: 400px;
        margin: auto;
    }
}

.side-sec {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 3%;
    padding-top: 90px;
}

#side-name {
    font-size: 25px;
    font-weight: 15px;
    font-family: 'Open Sans';
}

.nav-links {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    border: none;
    color: white;
    overflow: hidden;
    margin: 1rem;
    padding: 0;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}

.btn.color-1 {
    background-color: #4285f4;
}

.btn-border.color-1 {
    background-color: transparent;
    border: 2px solid #4285f4;
    color: #4285f4;
}

.btn-round {
    border-radius: 10em;
}

.material-design {
    position: relative;
}

.material-design canvas {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
}

.sugg_img {
    width: 40px;
    height: 40px;
}

.img-circle {
    width: 50px;
    height: 50px;
}



/* Parte ceontrale */

.new_post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #EEEEEE;
}

.new_post textarea {
    width: 100%;
    min-height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #444;
    padding: 7px;
}
.btn_post {
    background: #EEEEEE;
}


/* Side possible frinds */

.side  h5 {
    font-size: 20px;
    margin: 10px;
    color: #4285f4;
}
.side .list_possible_friends {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 82vh;
}

.side .possible_friend {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    max-width: 300px;
    margin-left: 20%;
    min-height: 83px;
}

.side .profile_img_possible_friend {
}

.profile_img_possible_friend  img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.nome_ps_friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4285f4;
}


/*Post's list*/
.main_posts_list {
    overflow-y: auto;
    height: 71vh;
}


.main_posts_list{
    /*max-width: 100px;*/
}
.container_post{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.comment_text {
    margin-top: 5px;
    font-size: 16px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #EEEEEE;
    border-radius: 1rem;
    background-color: #F5F5F5;
    padding: 3px;
}

.load_altri_post {
    text-align: center;
}

.load_altri_post button{
    width: 200px;
}

#reportModal button{
    font-size: 15px;
}
#reportComment button{
    font-size: 15px;
}

#reasonReportPost{
    height: 35px;
    font-size: 16px;
}

#reasonReportComment{
    height: 35px;
    font-size: 16px;
}

.button {
    height: 40px;
    width: 200px;
    display: block;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}




.cooment_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cooment_media_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment_div span{
    font-size: 15px;
}

.img_friends {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#messageUserModal textarea{
    font-size: 16px;
}

#messageUserModal button{
    font-size: 15px;
    margin-left: 14px;
}

.page_alert{
    min-height: 50px;
    padding: 14px 0;
    border: 3px solid #EEEEEE;
    background-color: #f5f5f5;
    text-align: center;
}

.page_alert strong{
    font-family: 'Roboto', sans-serif;
}

#pageContainer{
    text-align: center;
}

#newPageModal input{
    font-size: 16px;
}
.modal_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.modal_buttons button{
    font-size: 15px;
    margin-left: 14px;
}

.page_index{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #EEEEEE;
    background-color: #f5f5f5;
}

.page_index_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.container_pages{
    height: 85vh;
    overflow-y: auto;
    padding: 0 30px;
}

.avatar-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px;
    margin-bottom: 14px;
}

#followP{
    text-align: center;
    color: #4285f4;
}
#totFollowers{
    text-align: center;
    color: #4285f4;
}

#followP a {
    cursor: pointer;
    font-size: 20px;
}

#stopFollowP {
    cursor: pointer;
    font-size: 20px;
    color: #757575;
}

#stopFollowP i{
    margin-right: 5px;
}

.msg_amici{
    padding: 15px;
}

.acc_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.friend_index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #EEEEEE;
    background-color: #f5f5f5;
}

.req_index{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.button_acc {
    height: 40px;
    width: 70px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
}

.button_acc {
    margin-left: 4px;
}


.back_to_profile{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: #4285f4;
}

.back_to_profile i{
    margin-right: 5px;
}

.info_user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.mod_image{
    text-align: center;
}

#user-desc{
    color: #616161
}