*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  display: grid;
  width: 100vw;
  height: 100vh;
}

a {
  cursor: pointer;
  color: #ffffff;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
          "login login login";
  }
  .side {
    display: none;
  }
  .login {
    padding: 10% 24%;
  }
  .name {
    height: 42%;
    padding-top: 28%;
  }
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
          "login login login side side side side";
  }
  .side {
    display: block;
  }
  .login {
    padding: 10% 16%;
  }
  .name {
    height: 39%;
    padding-top: 41%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
          "login login login side side side side side side side";
  }
  .side {
    display: block;
  }
  .name {
    height: 36%;
    padding-top: 41%;
  }
}


.login {
  grid-area: login;
  background: #4285f4;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),0 0 70px rgba(0, 0, 0, 1);
  z-index:2;
}

.side {
  grid-area: side;
  background-size:cover;
}
.side img {
   width: 100%;
   background-repeat: no-repeat;
}


/* name stylings ------------------------------- */
.name {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto Slab';
}
.marcato {
  font-size: 50px;
  font-weight: bold;
}
.fino {
  font-size: 53px;
  font-weight: 100;
}

/* login-button stylings ------------------------------- */
.lg-btn {
  text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    width: 100%;
}

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  color: #ffffff;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #ffffff;
  background-color : #4285f4;
}
input:focus 		{
  outline:none;
}

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  color: #ffffff;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#ffffff;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#ffffff; }
  to 	{ width:0; background:transparent; }
}


.pwd_dimenticata span {
  float: left;
}

.new_user {
  text-align: center;
}
